$shades: (
  black-shades: (
    black-shade-1: black,
    black-shade-2: black,
    black-shade-3: black,
    black-shade-4: black,
    black-shade-5: black
    ),
  white-shades: (
    white-shade-1: #f2f2f2,
    white-shade-2: #e6e6e6,
    white-shade-3: #d9d9d9,
    white-shade-4: #cccccc,
    white-shade-5: #bfbfbf
    ),
  green-shades: (
    green-shade-1: #3dce0b,
    green-shade-2: #36b609,
    green-shade-3: #2f9d08,
    green-shade-4: #278507,
    green-shade-5: #206d06
    ),
  blue-shades: (
    blue-shade-1: #009370,
    blue-shade-2: #00795c,
    blue-shade-3: #006049,
    blue-shade-4: #004635,
    blue-shade-5: #002d22
    ),
  red-shades: (
    red-shade-1: #f80003,
    red-shade-2: #de0003,
    red-shade-3: #c50002,
    red-shade-4: #ab0002,
    red-shade-5: #920002
    ),
  purple-shades: (
    purple-shade-1: #7936a5,
    purple-shade-2: #6b2f92,
    purple-shade-3: #5d297e,
    purple-shade-4: #4f236b,
    purple-shade-5: #401d58
    ),
  yellow-shades: (
    yellow-shade-1: #dabd01,
    yellow-shade-2: #c0a701,
    yellow-shade-3: #a79101,
    yellow-shade-4: #8d7b01,
    yellow-shade-5: #746500
    )
);

$tints: (
  black-tints: (
    black-tint-1: #0d0d0d,
    black-tint-2: #1a1a1a,
    black-tint-3: #262626,
    black-tint-4: #333333,
    black-tint-5: #404040
  ),
  white-tints: (
    white-tint-1: white,
    white-tint-2: white,
    white-tint-3: white,
    white-tint-4: white,
    white-tint-5: white
  ),
  green-tints: (
    green-tint-1: #51f319,
    green-tint-2: #63f431,
    green-tint-3: #75f649,
    green-tint-4: #88f761,
    green-tint-5: #9af879
  ),
  blue-tints: (
    blue-tint-1: #00c696,
    blue-tint-2: #00dfaa,
    blue-tint-3: #00f9bd,
    blue-tint-4: #13ffc7,
    blue-tint-5: #2dffcd
  ),
  red-tints: (
    red-tint-1: #ff2c2e,
    red-tint-2: #ff4547,
    red-tint-3: #ff5f61,
    red-tint-4: #ff787a,
    red-tint-5: #ff9293
  ),
  purple-tints: (
    purple-tint-1: #944ac4,
    purple-tint-2: #9f5dca,
    purple-tint-3: #aa70d0,
    purple-tint-4: #b683d7,
    purple-tint-5: #c197dd),
  yellow-tints: (
    yellow-tint-1: #fede0f,
    yellow-tint-2: #fee229,
    yellow-tint-3: #fee542,
    yellow-tint-4: #fee95c,
    yellow-tint-5: #feec75
    )
);
